<div class="container mx-auto p-6 bg-white rounded-lg ">
    <div *ngIf="!garden" class="text-gray-500 text-center py-8">Loading garden details...</div>
  
    <div *ngIf="garden" class="flex flex-col md:flex-row gap-8">
      <div class="md:w-1/2">
        <div class="mb-6">
          <h2 class="text-3xl font-extrabold text-gray-800 mb-4">{{ garden.name }}</h2>
          <p class="text-gray-700 text-lg font-medium">Size: 
            <span class="text-blue-500 font-bold">{{ garden.sqft }} sqft</span>
          </p>
        </div>
  
        <swiper-container
          style="height: 320px;"
          class="swiper mySwiper rounded-lg "
          [slidesPerView]="1.14"
          [centeredSlides]="true"
          [initialSlide]="0"
          [threshold]="5"
          [mousewheel]="false"
          [spaceBetween]="20">
            <swiper-slide *ngFor="let image of garden.images let i = index">
              <img [src]="garden.images[i]" class="rounded-lg "/>
            </swiper-slide>
        </swiper-container>
  
        <div class="mt-6">
          <h3 class="text-xl font-bold text-gray-800 mb-3">Garden Details</h3>
          <p class="text-gray-600 mb-2">Created by: {{ garden.username }}</p>
          <p class="text-gray-600 mb-2">Type: {{ garden.type }}</p>
          <p class="text-gray-600">{{ garden.description }}</p>
        </div>
      </div>
  
      <div class="md:w-1/2">
        <div style="height: 320px;
  margin-top: 100px;" id="map" class="h-96 rounded-lg shadow-lg border border-gray-300 overflow-hidden"></div>
      </div>
    </div>
  
    <div class="mt-6 flex justify-center">
      <button (click)="copyGardenUrl()" class="bg-blue-600 hover:bg-blue-800 text-white font-semibold py-3 px-6 rounded-lg shadow-md transition-transform transform hover:scale-105">
        Copy Garden URL
      </button>

      <button routerLink="/user/dashboard" class=" ml-1 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
        Back
      </button>
    </div>
  </div>
  