<div class="flex items-center justify-center min-h-screen bg-base-200">
  <div class="bg-base-100 p-8 rounded-lg shadow-lg max-w-md w-full">
    <h2 class="text-2xl font-semibold text-base-content text-center">Forgot Password</h2>
    
    <form class="mt-6">
      <input 
        type="email" 
        [(ngModel)]="email" 
        [ngModelOptions]="{standalone: true}" 
        placeholder="Enter your email" 
        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring focus:ring-primary"
      >
      
      <button 
        (click)="sendPasswordResetEmail()" 
        class="w-full btn btn-primary mt-6"
      >
        Send Password Reset Email
      </button>

      <div *ngIf="errorMessage" class="mt-4 text-error text-center">
        {{ errorMessage }}
      </div>
    </form>

    <p class="text-sm text-base-content mt-6 text-center">
      Remember your password? 
      <a routerLink="/user/login" class="link link-primary">Login</a>
    </p>
  </div>
</div>
