<div class="container mx-auto p-8 bg-base-100 rounded-lg max-w-3xl">
  <button onclick="window.history.back()" class="mt-4 bg-base-300 hover:bg-base-400 text-base-content font-bold py-2 px-2 rounded flex items-center">
    <i class="fas fa-arrow-left"></i>
  </button>
  <h1 class="text-2xl font-bold mb-4">{{ isEditing ? 'Edit Event' : 'Create New Event' }}</h1>

  <form (ngSubmit)="submitEvent()" #eventForm="ngForm">
    <div class="mb-4">
      <label for="name" class="block text-sm font-medium text-base-content">Event Name</label>
      <input type="text" id="name" name="name" [(ngModel)]="event.name" class="mt-1 p-2 border rounded-md w-full" required>
    </div>

    <div class="mb-4">
      <label for="image" class="block text-lg font-semibold text-base-content">Image</label>
      <div *ngIf="selectedImageFile || existingImageUrl" class="relative mt-2">
        <img [src]="getPreviewUrl(selectedImageFile)" alt="Event Image Preview" class="h-48 w-full object-cover rounded-lg shadow-lg">
        <button type="button" (click)="removeImage()" 
                class="absolute top-0 right-0 m-2 bg-error text-base-100 rounded-full p-1 hover:bg-error-dark transition duration-300">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <input type="file" id="image" name="image" (change)="onImageSelected($event)" 
             class="mt-2 p-2 border border-base-300 rounded-lg w-full focus:ring focus:ring-primary">
    </div>

    <div class="mb-4">
      <label for="dateTime" class="block text-sm font-medium text-base-content">Date and Time</label>
      <input type="datetime-local" id="dateTime" name="dateTime" [(ngModel)]="event.dateTime" class="mt-1 p-2 border rounded-md w-full" required>
    </div>

    <div class="mb-4">
      <label for="eventType" class="block text-sm font-medium text-base-content">Event Type</label>
      <select id="eventType" name="eventType" [(ngModel)]="event.eventType" class="mt-1 p-2 border rounded-md w-full" (change)="onEventTypeChange()">
        <option value="online">Online</option>
        <option value="offline">Offline</option>
      </select>
    </div>

    <div *ngIf="event.eventType === 'offline'" class="mb-4">
      <label class="block text-sm font-medium text-base-content">Location</label>
      <div id="map" class="h-64 rounded-lg overflow-hidden border border-base-300 mb-4"></div> 

      <div *ngIf="selectedLocation">
        <p class="text-base-content">Selected Location: {{ selectedLocation.lat }}, {{ selectedLocation.lng }}</p>
      </div>
    </div>

    <div *ngIf="event.eventType === 'offline'" class="mb-4">
      <label for="locationText" class="block text-sm font-medium text-base-content">Location (Text)</label>
      <input type="text" id="locationText" name="locationText" [(ngModel)]="event.locationText" class="mt-1 p-2 border rounded-md w-full">
    </div>

    <div class="mb-4">
      <label for="description" class="block text-sm font-medium text-base-content">Description</label>
      <textarea id="description" name="description" [(ngModel)]="event.description" rows="4" class="mt-1 p-2 border rounded-md w-full"></textarea>
    </div>

    <button type="submit" [disabled]="!eventForm.form.valid" class="bg-success hover:bg-success-dark text-base-100 font-bold py-2 px-4 rounded">
      {{ isEditing ? 'Update Event' : 'Create Event' }}
    </button>
  </form>
</div>
